<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task2.c202301020241.mapper.UserMapper">
    <insert id="addUser" parameterType="com.task2.c202301020241.model.User">
            insert into t_user(username,password,email,phone,status,create_time,update_time)
            values(#{username},#{password},#{email},#{phone},#{status},NOW(),NOW());
    </insert>

    <select id="findUserByName" parameterType="String" resultType="com.task2.c202301020241.model.User">
        select * from t_user where username=#{username}
    </select>

</mapper>