<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnucm.login.mapper.UserMapper">
    <insert id="addUser" parameterType="com.hnucm.login.model.User">
        insert into t_user(username,password,salt,email,phone,status,create_time,update_time)
        values(#{username},#{password},#{salt},#{email},#{phone},#{status},NOW(),NOW());
    </insert>

    <select id="findUserByName" parameterType="String" resultType="com.hnucm.login.model.User">
        select * from t_user where username=#{username}
    </select>

</mapper>